@import "tailwindcss";


.realfont {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.realfont2 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.itdpfont {
  font-family: "Amita", serif;
  font-weight: 400;
  font-style: normal;
}

.bgcolor {
  background-color: #f4f7fa;
}

.font1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.font2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing:auto;
  font-weight: 600;
  font-style: normal;

}






















